div {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.form-box {
    margin-right: 30px;
    margin-left: 10px
}

.form-label {
    color: rgb(109, 57, 33);
}

body {
    background-color: rgb(220, 224, 157);
}

img {
    max-width: 400px;
    min-width: 100px;
}

.submit {
    background-color: aqua;
    width: 150px;
    margin-top: 20px;
}